# LaTeX Snippets for PlainText (Backslashes have to be escaped with 4 Backslashes)
'.text.plain, .text.latex':
  'TeX Table':
    'prefix': 'textable'
    'body': """
      \\\\begin{tabular}${1:{ | c | c | }}
        \\\\hline
        ${2:col1} & ${3:col2} \\\\newline
        ${4:row1} & ${5:row1} \\\\newline
        ${6:row2} & ${7:row2} \\\\newline
        \\\\hline
      \\\\end{tabular}
    """
  'TeX Unordered List':
    'prefix': 'texlist'
    'body': """
      \\\\begin{itemize}
         \\\\item ${1:}
         \\\\item ${2:}
      \\\\end{itemize}
    """
  'TeX Chapter':
    'prefix': 'texch'
    'body': '\\\\chapter{${1:name}}'
  'TeX Section':
    'prefix': 'texsec'
    'body': '\\\\section{${1:name}}'
  'TeX SubSection':
    'prefix': 'texsubsec'
    'body': '\\\\subsection{${1:name}}'
  'TeX Start Document':
    'prefix': 'texdocclass'
    'body': '\\\\documentclass[${1:options}]{${2:class}}'
  'TeX Image':
    'prefix': 'teximg'
    'body': '\\\\includegraphics[${1:options}]{${2:imagePath}}'
  'TeX Maths Inline Mode':
    'prefix': 'texmathinline'
    'body': '$ ${1:expression} $'
  'TeX Math Display Mode':
    'prefix': 'texmathdisplay'
    'body': '$$ ${1:expression} $$'
  'TeX Package':
    'prefix': 'texpack'
    'body': '\\\\usepackage{${1:package name}}'
  'TeX New Page':
    'prefix': 'texnewpage'
    'body': '\\\\newpage'
  'TeX Glossary Entry':
    'prefix': 'texglossaryentry'
    'body': '\\\\newglossaryentry{${1:label}}{name={${2:name}}, description={${3:description}}'
  'TeX Double Quotes':
    'prefix': 'texdoublequotes'
    'body': '\"`${1:text}\"\''
  'TeX URL Link':
    'prefix': 'texurllink'
    'body': '\\\\href{${1:url}}{${2:description}}'
  'TeX Begin Command':
    'prefix': 'texbegin'
    'body': """
        \\\\begin{${1:command}}
        \\\\end{${1:command}}
    """
  'TeX Ordered List':
    'prefix': 'texolist'
    'body': """
        \\\\begin{enumerate}
            \\\\item ${1:}
            \\\\item ${2:}
        \\\\end{enumerate}
    """
  'TeX Backslash':
    'prefix': 'texbackslash'
    'body': '\\\\textbackslash{}'
  'TeX Insert Code':
    'prefix': 'texinscode'
    'body': """
    % Easy add code have to be acitvated on project creation
    \\\\insertcode{${1:relativeCodeFilePath}}{${2:description}}
    """
